/******************** MAIN PAGE ********************/
/* Body */
.hot-news-list {
  justify-content: center;
  column-gap: 20px;
}

.news-item {
  max-width: 230px;
}





/* Footer */
#footer {
  max-height: 500px;
  background-color: var(--color-white-grey);
  padding-bottom: 20px;
}

.footer-nav {
  background-color: var(--color-blue);
  padding: 5px 100px;
}

.footer-nav-items {
  justify-content: space-between;
}

.footer-nav-items__item {
  color: var(--color-white);
}

.footer-content {
  margin: 20px 100px;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey);
}

.footer-content__left {

}

.footer-content__left-logo {

}

.footer-content__right {

}

.footer-content__right-title {
  text-align: center;
  margin-bottom: 10px;
}

.footer-content__right-title > a {
  background-color: var(--color-blue);
  display: inline-block;
  border-radius: 35px;
  padding: 10px 15px;
  font-size: 18px;

}

/******************** LOGIN PAGE ********************/
#login {

}

.login__wrap {
  background-color: var(--color-white-blue);
  min-height: 100vh;
  max-width: 300vh;
  justify-content: center;
  align-items: center;
}

.login__title {
  border-bottom: 3px solid var(--color-black);
  text-shadow: 0 6px 3px var(--color-red);
  margin-bottom: 30px;
  width: fit-content;
}

.login-form {
  background-color: var(--color-pink-pastel);
  padding: 25px;
  margin-top: 25px;
}

.login-form__item {
  margin: 15px 0;
}

.login-form__label {

}

.login-form__control {
  height: 25px;
  width: 370px;
  padding: 2px 5px;
}

.login-form__check {
  margin: 15px 0;
}

.login-form__btn {
  background-color: var(--color-white-blue);
  border: 1px solid var(--color-white-blue);
}

.login-form__btn:hover {
  background-color: var(--color-blue-pastel);
}

.login-form__forgot {
  margin-top: 10px;
}

.login-form__register {
  margin-top: 5px;
}

.login-form__forgot a , .login-form__register a {
  color: var(--color-black);
}

.login-form__forgot a:hover , .login-form__register a:hover {
  color: var(--color-light-black);
}


/******************** REGISTER PAGE ********************/
#register {

}

.register__wrap {
  background-color: var(--color-white-blue);
  min-height: 100vh;
  max-width: 300vh;
  justify-content: center;
  align-items: center;
}

.register__title {
  border-bottom: 3px solid var(--color-black);
  text-shadow: 0 6px 3px var(--color-red);
  margin-bottom: 30px;
  width: fit-content;
}

.register-form {
  background-color: var(--color-pink-pastel);
  padding: 25px;
  margin-top: 25px;
}

.register-form__item {
  margin: 15px 0;
}

.register-form__label {

}

.register-form__control {
  height: 25px;
  width: 370px;
  padding: 2px 5px;
}

.helper-text {
  margin-bottom: 15px;
}

.helper-text li {
  list-style: inside;
}

.register-form__btn {
  background-color: var(--color-white-blue);
  border: 1px solid var(--color-white-blue);
}

.register-form__btn:hover {
  background-color: var(--color-blue-pastel);
}

.register-form__login {
  margin-top: 10px;
}

.register-form__login a {
  color: var(--color-black);
}

.register-form__login a:hover {
  color: var(--color-light-black);
}

