/************************************************ TABLET ************************************************/

@media(max-width: 768px) {
  /******************** MAIN PAGE ********************/

  /* Footer */
  #footer {
    font-size: 12px;
  }

  .connect {
    margin: 0 7px;
  }
  
  .footer-content {
    padding: 5px 0;
    border-bottom: 1px solid var(--color-grey);
    flex-direction: column;
  }
  
  .footer-content__left {
    
  }

  .footer-content__left__contact {
    margin-top: 10px;
  }
  
  .footer-content__right {
    margin-top: 15px;
  }
  
  .footer-content__right-title {
    margin-bottom: 8px;
  }
  
  .footer-content__right-title a {
    padding: 8px 12px;
    font-size: 14px;
  
  }
  
  .footer-content__right__contact-left {
  }

  .footer-content__right__contact-right {
    margin-left: 30px;
  }

  /******************** LOGIN PAGE ********************/
  #login {
    font-size: 12px;
  }

  .login__title {
    margin-bottom: 15px;
  }

  .login-form {
    padding: 20px;
    margin-top: 20px;
  }

  .login-form__item {
    margin: 10px 0;
  }

  .login-form__control {
    font-size: 10px;
    height: 20px;
    width: 250px;
    padding: 2px 4px;
  }

  .login-form__check {
    margin: 10px 0;
  }

  .login-form__check-input {
    width: 12px;
    height: 12px;
  }

  .login-form__btn {
    font-size: 10px;
    padding: 7px 14px;
  }

  .login-form__redirect-wrap {
    padding-left: 2rem;
  }

  .login-form__to-main-page {
    margin-top: 8px;
    width: 50%;
  }

  .login-form__forgot {
    margin-top: 4px;
    width: 50%;
  }

  .login-form__register {
    margin-top: 4px;
    width: 50%;
  }

  /******************** REGISTER PAGE ********************/
  #register {
    font-size: 12px;
  }

  .register__title {
    margin-bottom: 15px;
  }

  .register-form {
    padding: 20px;
    margin-top: 20px;
  }

  .register-form__item {
    margin: 10px 0;
  }

  .register-form__control {
    font-size: 10px;
    height: 20px;
    width: 250px;
    padding: 2px 4px;
  }

  .register-form__check {
    margin: 10px 0;
  }

  .register-form__check-input {
    width: 12px;
    height: 12px;
  }

  .register-form__btn {
    font-size: 10px;
    padding: 7px 14px;
  }

  .register-form__redirect-wrap {
    padding-left: 2rem;
  }

  .register-form__to-main-page {
    margin-top: 8px;
    width: 50%;
  }

  .register-form__login {
    margin-top: 4px;
    width: 50%;
  }

}
